/AutoLogWeb/frontend/node_modules
/AutoLogWeb/node_modules
AutoLogWeb/.env
/auto_log_app/build
AutoLogApp/.dart_tool/
AutoLogApp/.flutter-plugins
AutoLogApp/.flutter-plugins-dependencies
AutoLogApp/pubspec.lock
.vscode/launch.json
/autologapp/.idea
/autologapp/android
autologapp/autologapp.iml
/autologapp/build
