.width {
    width: calc(50% - 10px); 
    margin-right: 10px; 
}

.add-car-section {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.input-group {
    display: flex;
    align-items: center;
}

.input-group label {
    margin-right: 10px; 
}

.input-group input {
    flex: 1; 
    padding: 5px;
    font-size: 14px; 
    border: 1px solid #ccc; 
}

button[type="submit"] {
    margin-top: 10px; 
}
