.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50vw;
    height: 70vh;
    text-align: center;
}

.login-form {
    padding: 3%;
    width: 420px;
    box-shadow: rgb(0 0 0 / 25%) 5px 5px 10px;
    background-color: lightslategray;
}

.login-form .title {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.login-form #inner-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
    display: block;
    color: black;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: calc(100% - 22px);
    padding: 7px;
    margin: 10px 0;
    border: 1px solid #ccc;
    box-shadow: inset 3px 3px #ccc;
}

.login-form button {
    width: 60%;
    padding: 10px;
    color: black;
    border-color: black;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 7px 7px black;
}

.login-button {
    background-color: #FF9400;
}

.login-form .login-button:hover {
    color: #FF9400;
    background-color: black;
    box-shadow: 7px 7px #FF9400;
}

.signup-button {
    background-color: #D9D9D9;
}

.signup-button:hover {
    color: #D9D9D9;
    background-color: black;
    box-shadow: 7px 7px #D9D9D9;
}

.login-form .message {
    margin-top: 20px;
    color: red;
}

.separator {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.line {
    flex: 1;
    border: 0;
    height: 1px;
    background: #ccc;
}

.or {
    margin: 0 10px;
    color: white;
}

.forgot-password {
    padding: 10px;
    margin: 10px;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 30px;
    text-align: left;
}

.forgot-password-link {
    color: #00008B;
    font-weight: bold;
}