* {
    font-family: "Monaco", monospace;
    font-weight: bold;
    padding: 0;
    margin: 0;
    outline: none;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50vw;
    height: 70vh;
    text-align: center;
    min-height: 90vh;
}

.login-form {
    padding: 5%;
    background-color: lightslategray;
}

.vbox {
    display: flex;
    flex-direction: column;
}

.login-form .title {
    font-size: 3.5em;
    font-weight: bold;
    margin-bottom: 20px;
    color: #2E343B;
    text-shadow: 3px 3px 5px rgb(0 0 0 / 25%);
    padding-bottom: 1rem;
}

.login-form label {
    width: 20vw;
    font-size: large;
    text-align: left;
    color: white;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: calc(100% - 22px);
    padding: 7px;
    margin: 5px 0;
    border: none;
    box-shadow: inset 4px 4px #ccc;
}

.login-form button {
    width: 60%;
    padding: 10px;
    color: black;
    border-color: black;
    font-size: large;
    cursor: pointer;
    box-shadow: 7px 7px black;
}

.login-button {
    background-color: #FF9400;
}

.login-form .login-button:hover {
    color: #FF9400;
    background-color: black;
    box-shadow: 7px 7px #FF9400;
    border-color: #FF9400;
}

.signup-button {
    background-color: #D9D9D9;
}

.signup-button:hover {
    color: #D9D9D9;
    background-color: black;
    box-shadow: 7px 7px #D9D9D9;
    border-color: #D9D9D9;
}

.login-form .message {
    display: inline-block;
    margin-top: 15px;
    color: #800000;
}

.separator {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.line {
    flex: 1;
    border: 0;
    height: 2px;
    background: black;
}

.or {
    margin: 0 10px;
    color: black;
}

.forgot-password {
    margin-bottom: 4vh;
    text-align: left;
}

.forgot-password-link {
    color: #000060;

}