@keyframes garage-door {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-100%);
    }
}

.garage-door {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/garage.JPG') no-repeat center center fixed;
    background-size: cover;
    animation: garage-door 2s ease-in-out forwards;
}

.car-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    /*background: url('../images/background.jpg') no-repeat center center fixed;*/
    background-size: cover;
    min-height: 100vh;
}

.car-page-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: -30px;
}

.left-half,
.right-half {
    width: 48%;
    padding: 0 10px;
}

.car-ui-container,
.maintenance-log {
    padding: 10px;
    margin-bottom: 10px;
    background-color: lightslategrey;
    
}

.car-list{
    padding: 10px;
    margin-bottom: 10px;
    background-color: lightslategrey;
    height: 80vh;
    overflow-y: auto;
}

.car-box,
.log-entry {
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: slategrey;
}

.car-box:hover {
    background-color: #2E343B;
}

.add-car-section,
.add-log-section {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.odo-display {
    text-align: right;
    font-size: 1.5em;
    font-weight: bold;
}

.maintenance-log-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.search-add-section {
    display: flex;
    justify-content: space-between;
}

.search-container {
    display: flex;
    align-items: center;
    width: 50%;
    position: relative;
    border-bottom: 2px solid #2E343B;
}

.search-container input {
    color: white;
    font-size: 1.25em;
    background-color: transparent;
    width: 100%;
    padding: 0px 0px 0px 10px;
    margin: 5px 0;
    border: none;
}

.search-container input::placeholder {
    color: #2E343B;
}

.search-container input .search-container .bi-search {
    position: absolute;
    left: 10px;
    font-size: 18px;
}

i {
    font-size: 20px;
}

.search-add-section button {
    background-color: transparent;
    padding: 5px 10px 5px 3px;
    font-size: 20px;
}