@keyframes garage-door {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}

.garage-door {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/garage.JPG') no-repeat center center fixed;
    background-size: cover;
    animation: garage-door 2s ease-in-out forwards;
}

.car-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    /*background: url('../images/background.jpg') no-repeat center center fixed;*/
    background-size: cover;
    min-height: 100vh;
}

.car-page-content {
    display: flex;
    width: 100%;
    justify-content: space-between; 
    margin-top: -30px;
}

.left-half, .right-half {
    width: 48%;
    padding: 0 10px;
}

.car-list, .car-ui-container, .maintenance-log { 
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: lightslategrey;
}

.car-box, .log-entry { 
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: slategrey;
}

.car-box:hover {
    background-color: #f0f0f0;
}

.add-car-section, .add-log-section {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.add-car-section input, .add-car-section button, .add-log-section input, .add-log-section button {
    margin: 0;
}

.odo-display {
    text-align: right;
    font-size: 1.5em;
    font-weight: bold;
}

.maintenance-log-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}
