#carUIDiv {
    padding: 20px;
}

#carList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.car-list {
    padding: 10px;
    margin-bottom: 10px;
    background-color: lightslategrey;
}

.car-lists {
    overflow: auto;
    height: 73vh;
}

.car-list h2 {
    color: white;
    font-size: 2em;
    font-weight: bold;
}

.car-list h3 {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

.car-list h4 {
    color: white;
    font-size: 1.25em;
}

#deleteButton {
    position: relative;
    bottom: 10px;
    right: 10px;
}

.car-box {
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: slategrey;
    position: relative;
    color: white;
}

.car-box:hover {
    background-color: #2E343B;
}

.odo-container {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}