#carUIDiv {
    padding: 20px;
}

#carList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.carbox {
    position: relative;
}

.car-lists {
    overflow: auto;
    height: 73vh;
}

.car-list h2 {
    color: white;
    font-size: 2em;
    font-weight: bold;
}

.car-list h3 {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

.car-list h4 {
    color: white;
    font-size: 1.25em;
}

.icon-button {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 1em;
    margin-right: 10px;
    padding: 0;
    display: inline-flex;
    align-items: center;
}

.icon-button i {
    margin-right: 5px;
}

.icon-button:hover {
    color: lightgray;
}