.create-vehicle-container {
    padding: 20px;
    color: black;
    border-radius: 8px;
}

.add-car-section {
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-group label {
    margin-right: -25px; 
    flex-basis: 25%;
}

.input-group input {
    flex: 1; 
    padding: 10px;
    font-size: 16px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    color: #333;
}

.message {
    margin-top: 20px;
    text-align: center;
    font-size: 1em;
    color: lightgray;
}