#loggedInDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

#userName {
    font-size: 3.5em;
    font-weight: bold;
    margin-bottom: 20px;
    color: #2E343B;
    text-shadow: 3px 3px 5px rgb(0 0 0 / 25%);
    padding-bottom: 1rem;
    text-transform: uppercase;
}


#editNameContainer {
    display: flex;
    align-items: center;
}

#editNameContainer {
    margin-left: auto;
    /*Pushes the edit and logout buttons to the right*/
}

.buttons-container {
    display: contents;
    font-size: 1em;
}

.buttons-container i {
    padding-right: 5px;
    font-size: 1.5em;
}