.separator {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.line {
    flex: 1;
    border: 0;
    height: 2px;
    background: black;
}

.or {
    margin: 0 10px;
    color: black;
}

.forgot-password {
    margin-bottom: 4vh;
    text-align: left;
}

.forgot-password-link {
    color: #000060;
}