.name-group {
    display: flex;
    width: 50%;
}

.name-group input {
    width: 90%;
    padding: 7px;
    margin: 5px 0;
    border: none;
    box-shadow: inset 4px 4px #ccc;
}

.message {
    margin-top: 10px;
    font-size: 14px;
}

.message.success {
    color: #113321;
}

.message.error {
    color: #800000;
}

.checkmark {
    color: #113321;
    margin-left: 10px;
    font-size: 1.5em;
}

.crossmark {
    color: #800000;
    margin-left: 10px;
    font-size: 1.5em;
}

.password-requirements {
    text-align: left;
    margin-top: 10px;
}

.password-requirements li {
    font-size: 0.9em;
}

.password-requirements .valid::before {
    content: '✔ ';
    color: #113321;
}

.password-requirements .invalid::before {
    content: '✖ ';
    color: #800000;
}

.valid {
    color: #113321;
}

.invalid {
    color: #800000;
}