.checkmark,
.crossmark {
    margin-left: 10px;
    font-size: 1.5em;
}

.password-requirements {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.password-requirements li {
    margin-bottom: 5px;
}

.valid {
    color: #113321;
}

.invalid {
    color: #800000;
}

.message {
    color: #800000;
    text-align: center;
    margin-top: 20px;
}